.App {
  text-align: center;
}
.body {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7ABA7A;
  color: #B76EB8;
}
.navbar {
  width: 100%;
  height: 10vh;
  background-color: #B76EB8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar h1 {
  padding-left: 2%;
}
.navbar-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.navbar-links a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #028482;
}

.company-trades-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: teal;
  width: 90%;
  height: 80%;
  overflow: scroll;
  border-color: teal;
}
.trade-container {
  margin: 2%;
  width: 20%;
  height: 40%;
  background-color: white;
}
.trade-container p {
  text-align: left;
  padding: 1%;
  background-color: white;
}

.tasks-list-container {
  width: 100%;
  overflow-x: scroll;
}
.tasks-list-container p {
  width: 100%;
  height: 100%;
  margin: .1%;
  background-color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
