* {
  transition: 100ms;
}
.App {
  text-align: center;
}
.body {
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EFEFEF;
  color: #bb4d00;
}

.landing-page {
  padding: 3%;
  background-color: white;
  border-radius: 10px;
  width: 30%;
  margin-bottom: 10%;
}
.landing-page p {
  margin: 0;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-input {
  width: 100%;
  height: 20%;
}
.is-boss-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container input {
  margin-bottom: 2%;
  border: none;
  border-bottom: 1px solid black;
  background-color: none;
  width: 100%;
}
.checkbox-input input {
  width: auto;
}
.company-trades-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ffad42;
  width: 80%;
  margin-bottom: 30%;
  overflow: scroll;
  border-color: #ffad42;
  border-radius: 10px;
}
.trade-container {
  border-radius: 10px;
  margin: 2%;
  width: 200px;
  height: 40%;
  background-color: white;
}
.trade-container:hover {
  border-radius: 10px;
  margin: 2%;
  width: 200px;
  height: 40%;
  background-color: grey;
}
.trade-container p {
  text-align: left;
  padding: 1%;
  background-color: white;
}

.tasks-list-container {
  width: 100%;
  overflow-x: scroll;
}
.tasks-list-container p {
  width: 100%;
  height: 100%;
  margin: .1%;
  background-color: white;
}
.row-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.trade_tasks_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  padding: 5% 0 5% 0;
}
.material-table {
  width: 80vw;
  margin: 0;
  padding: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
